$color: red;

* {
  font-family: "News Cycle","Arial Narrow Bold",sans-serif;
}

h1 {
  padding: 1%;
}

label {
  font-weight: bold;
}

.list-unstyled {
  display: flex;
}

.list-unstyled li {
  margin-right: 10px;
}

.create-curso-form {
  width: 90%;
  justify-content: space-between;
  margin: 20px auto 0;
  padding: 0 20px;
  text-align: center;
  max-width: 900px;
}

.form-field-curso {
  margin: 5px;
}

.cursos-list-item {
  border: 1px solid #F29D9B;
  background: #fce9e8;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.button-icon {
  height: 27px;
  width: 20px;
}

.curso-labels-container, .curso-options-container{
  padding: 0 25px;
  display: flex;
  align-items: center;
}

.curso-labels-container small {
  color: #F29D9B;
  padding: 5px;
}

.curso-labels-container strong {
  color: #EB6864;
  padding: 5px;
  font-size: 20px;
}

.curso-option-button {
  position: relative;
  display: inline-block;
  padding: 0 5px;
}

.curso-option-button .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.curso-option-button .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.curso-option-button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}